html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 14px;
  margin: 0;
  padding: 0;

}

h1{
  font-family: Futura, sans-serif;
  font-size: 50px;
  line-height: 1;
  padding: 20px 0;
  margin: 50px;
  letter-spacing: 1px;
  word-spacing: 2.6px;
  font-weight: normal;
  text-align: center;
  color: #286fb4;
  font-style: normal;
  text-transform: none;
}


/*card scale*/

.card{
  border:#df4c73;
  border-style: double;
  align-items: center;
  text-align: center;
  vertical-align: center;
  line-height: 60px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
  width: 800px;
  height: 120px;
  transition: all 0.3s ease;

}
.card:hover{
  transform: scale(1.2);
}
.card:focus {
    outline: 3px solid black;   
}

h2{
  font-family: Futura, sans-serif;
  margin: auto;
  font-size: 24px;
  line-height: 1.5;
  color: #df4c73;
  text-shadow: 3px 2px white;
  text-align: left;
  padding-top: 70px;
}

p{
  font-family: Futura, sans-serif;
	font-size: 16px;
  line-height: 1.5;
  color: #286fb4;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 20px;
  font-family: Futura, sans-serif;
  letter-spacing: 0px;
  word-spacing: 0.8px;
  font-weight: 400;
  text-shadow: 1px 1px white;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}


nav ul{
  list-style-type: none;
  align-items: right;
  color:#286fb4;
  text-shadow: 2px 3px white;
}

nav li{
  align-items: right;
  display: inline-block;
  padding-right: 20px;
}

nav a{
  font-family: Futura, sans-serif;
  color:#286fb4;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background:transparent;
  text-align: left;
  padding: 6px;
  position: absolute;
  top: 40px;     
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: fixed;
  top: 0;
}

a:focus{
/*Add the selector and code to put a 2px black border around all elements in focus.*/
  border: 2px solid black;
 
}
footer p{
  color: black;
  text-align: center;
  vertical-align: center;
  height: 50px;
}

img{
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

img:hover {
  border: darkorange solid 1px;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.stayintouch{
  display: block;
	width: 100%;
	height: auto;
}


/* PHOTO GALLERY */
#glrcontainer{
  display: block;
  width: 70%; 
  margin-left: auto;
  margin-right: auto;
  
}

div.gallery {
  border: 1px solid #86d2de;
  width: 250px;
  height: 260px;
  filter:contrast(200%);
  margin-left: auto;
  margin-right: auto;
  
}


div.gallery img {
  width: 100%;
  height: auto;
  overflow: hidden;
  filter:contrast(200%);
  margin-left: auto;
  margin-right: auto;
  
}

div.gallery img:hover {
  filter:grayscale(100%);
}

div.desc {
  font-family: Futura, sans-serif;
  font-size: 15px;
  padding: 15px;
  text-align: center;
}


/* CONTACT INPUT BOX BELOW */

input[type=text], select, textarea {
  font-family: Futura, sans-serif;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: Futura, sans-serif;
  background-color: #df4c73;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label{
  font-family: Futura, sans-serif;
  color:#286fb4;
  font-size: 15px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #b0dde4;
}

/*CSS generated animation*/
@keyframes scalein{
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.container {
  background-color: rgb(253, 244, 229);
  padding: 20px;
}




/*Photo gallery grid*/
#glrcontainer{
  display: grid;
  grid-template-columns: 1fr repeat(3,370px) 1fr;
}

.gallery1{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery2{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery3{
  display: inline-block;
  grid-column: 4/5;
  overflow: hidden;
}
.gallery4{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery5{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery6{
  display: inline-block;
  grid-column: 4/5;
  overflow: hidden;
}
.gallery7{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery8{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery9{
  display: inline-block;
  grid-column: 4/5;
  overflow: hidden;
}
.gallery1 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery2 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery3 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery4 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery5 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery6 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery7 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery8 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery9 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}

/*Use filters to augment the photo gallery*/
.gallery1 img:hover{
  filter: grayscale(0.8);
}
.gallery2 img:hover{
  filter: grayscale(0.8);
}
.gallery3 img:hover{
  filter: grayscale(0.8);
}
.gallery4 img:hover{
  filter: grayscale(0.8);
}
.gallery5 img:hover{
  filter: grayscale(0.8);
}
.gallery6 img:hover{
  filter: grayscale(0.8);
}
.gallery7 img:hover{
  filter: grayscale(0.8);
}
.gallery8 img:hover{
  filter: grayscale(0.8);
}
.gallery9 img:hover{
  filter: grayscale(0.8);
}



/*media query 1 - tablet view*/
@media(max-width: 800px){

.card-container{
  display: none;
}

@keyframes scalein{
  0% {
    transform: scale(1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.container {
  border-radius: 5px;
  animation-name: scalein;
  animation-duration: 2s;
  padding: 20px;
}

p{
  font-size: 17px;
  line-height: 1.5;
  color:#286fb4;
  text-align: center;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 50px;
  font-family: Futura, sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 400;
  text-shadow: 2px 2px white;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

nav li{
  display: inline-block;
  padding-right: 20px;
}

nav a{
  display: block;
  font-family: Futura, sans-serif;
  color:#286fb4;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: none;}

  .skip a{
    background:transparent;
    text-align: left;
    padding: 6px;
    position: absolute;
    top: 6px;     
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  .skip a:focus{
    position: fixed;
    top: 0;
  }

.graphicgridcontainer1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.addGraphic1{
  display: inline-block;
  grid-column: 2/3;
}

.addGraphic2{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}

.addGraphic3{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.addGraphic1 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.addGraphic2 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.addGraphic3 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}

.archigridcontainer1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.archiGrid1{
  display: inline-block;
  grid-column: 2/3;
}

.archiGrid2{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}

.archiGrid3{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.archiGrid1 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.archiGrid2 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.archiGrid3 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}

#glrcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery1{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery2{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery3{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery4{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery5{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery6{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery7{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery8{
  display: inline-block;
  grid-column: 3/4;
  overflow: hidden;
}
.gallery9{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery1 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery2 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery3 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery4 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery5 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery6 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery7 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery8 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery9 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}

}


/*media query 2 - mobile view*/
@media(max-width: 378px){

.card-container{
  display: none;
}

@keyframes scalein{
  0% {
    transform: scale(1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.container {
  border-radius: 5px;
  animation-name: scalein;
  animation-duration: 2s;
  padding: 20px;
}

p{
  font-size: 17px;
  line-height: 1.5;
  color:  #286fb4;
  text-align: center;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 50px;
  font-family: Futura, sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: normal;
  text-decoration: none solid rgb(68, 68, 68);
  text-shadow: 2px 2px white;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

nav li{
  display: block;
  padding-right: 20px;
}

nav a{
  display: block;
  font-family: Futura, sans-serif;
  color:  #286fb4;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

nav a:hover{
  text-decoration: none;
}

.skip a{
  background:transparent;
  text-align: left;
  padding: 6px;
  position: absolute;
  top: 40px;     
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: fixed;
  top: 0;
}

.graphicgridcontainer1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.addGraphic1{
  display: inline-block;
  grid-column: 2/3;
}

.addGraphic2{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}

.addGraphic3{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.addGraphic1 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.addGraphic2 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.addGraphic3 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}

#glrcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery1{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery2{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery3{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery4{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery5{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery6{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery7{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery8{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery9{
  display: inline-block;
  grid-column: 2/3;
  overflow: hidden;
}
.gallery1 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery2 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery3 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery4 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery5 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery6 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery7 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery8 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}
.gallery9 img{
  padding:5px 0;
  max-width: 98%;
  height:auto;
}

/* contact form */

input[type=text], select, textarea {
  font-family: futura, sans-serif;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: futura, sans-serif;
  background-color: #df4c73;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label{
  font-family: futura, sans-serif;
  color:#286fb4;
  font-size: 15px;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #b0dde4;
}

        }